.logo {
  font-family: var(--raleway);
  color: var(--navy-blue);
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo span {
  color: var(--iris);
}

.navigation a {
  font-weight: 500;
  color: var(--navy-blue);
}

.contacts {
  font-style: normal;
}

.header li a:hover,
.header li a:focus {
  color: var(--ocean);
}
